<nav>
  <ul>
    <li><a href="/manifeste-souverainete-technologique/">Manifeste principal</a></li>
    <li><a href="/manifeste-souverainete-technologique/analyses/Datacenters_et_Intelligence_Artificielle_-_le_seul_scenario_vertueux.html">Datacenters & IA</a></li>
    <li><a href="/manifeste-souverainete-technologique/note_pour_une_souverainete_forte_politique.html">Note politique</a></li>
    <li><a href="/manifeste-souverainete-technologique/media/tribune_usine_nouvelle.html">Tribune Usine Nouvelle</a></li>
  </ul>
</nav>
