<!DOCTYPE html>
<html lang="{{ page.lang | default: 'fr' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.lang == 'fr' %}
        <title>{{ page.title }} — Haffner Energy & Souveraineté</title>
        <meta name="description" content="Vers un écosystème national d'autonomie énergétique, sanitaire et agricole. Note Stratégique Indépendante.">
    {% else %}
        <title>{{ page.title }} — Haffner Energy &  Sovereignty</title>
        <meta name="description" content="Towards a national ecosystem for energy, health, and agricultural autonomy. Independent Strategic Brief.">
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">  </head>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <body>
    <main class="main-content">
      {{ content }}
      <hr>
      {% if page.lang == 'en' %}
        {% include menu_en.html %}
      {% else %}
        {% include menu_fr.html %}
      {% endif %}
      <hr>
      {% assign author = site.data.authors[page.author] %}
      <!-- On vérifie que l'auteur existe bien avant de l'afficher -->
      {% if author %}
        <a href="{{ author.linkedin }}">{{ author.name }}</a>
        <p>{{ author.bio }}</p> <!-- J'ai ajouté la bio -->
      {% endif %}
    </main>
  </body>
</html>
