<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.lang == 'en' %}
        <title>{{ page.title }} — Haffner Energy & Souveraineté</title>
        <meta name="description" content="Vers un écosystème national d'autonomie énergétique, sanitaire et agricole. Note Stratégique Indépendante.">
    {% else %}
        <title>{{ page.title }} — Haffner Energy &  Sovereignty</title>
        <meta name="description" content="Towards a national ecosystem for energy, health, and agricultural autonomy. Independent Strategic Brief.">
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">  </head>
  <body>
    <main class="main-content">
      {{ content }}
      <hr>
      {% if page.lang == 'en' %}
        {% include menu_en.html %}
      {% else %}
        {% include menu_fr.html %}
      {% endif %}
      <hr>
    </main>
  </body>
</html>
