<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manifeste pour la Souveraineté et la Résilience Technologique</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <meta name="description" content="Vers un écosystème national d'autonomie énergétique, sanitaire et agricole. Note Stratégique Indépendante.">
  </head>
  <body>
    <main class="main-content">
      {% if page.lang == 'en' %}
        {% include menu_en.html %}
      {% else %}
        {% include menu_fr.html %}
      {% endif %}
      {{ content }}
    </main>
  </body>
</html>
